
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}
li {
  float: right;
}
.discount {
    float: left;
    color: rgb(121, 204, 207);
    margin: 10px;
    font-style:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a:hover {
  background-color: rgb(83, 226, 207);
}
.login {
    color: rgb(29, 26, 26);
    font-family:fantasy;
    background: 7px;
    background-color: white;
}
body {
  background-image: url("https://i.ibb.co/1TZGpTK/Whats-App-Image-2021-05-26-at-5-10-08-PM.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.logo {
    padding: 10px;
    float: center;
    margin-left: 570px;
    
}
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  float: center;
  width: 50%;
  background: #f1f1f1;
  margin-left: 400px;
  margin-top: 30px;
}

form.example button {
  float: center;
  width: 5%;
  padding: 10px;
  background: black;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #000000;
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}
.img{
  margin-left: 100px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  position: absolute;top: 2200px;
}
.gennierights {
    float: left;
    color: rgb(121, 204, 207);
    margin: 10px;
    font-style:normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}
.cover {
  margin-bottom: 40px;
  position: absolute;align-items: center;
  margin-left: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 650px;left: 50px;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 650px;left: 400px;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 650px;left: 750px;
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 650px;left: 1100px;
}
.card00 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 1300px;left: 50px;
}
.card01 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 1300px;left: 400px;
}
.card02 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 1300px;left: 750px;
}
.card03 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  margin-left: 50px;
  position: absolute;top: 1300px;left: 1100px;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card00 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card01 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card02 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card03 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  background-size: 30px;
}
.fa-instagram {
  background: #125688;
  color: white;
  margin-top: 10px;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.contactfooter {
  font-size: small;
}
.homefooter {
  font-size: small;
}
.aboutfooter {
  font-size: small;
}
.shopfooter {
  font-size: small;
}
.logbut {
  align-items: center;
  margin-top: 1650px;
  margin-left: 630px;
}
